### Django ###
*.log
*.pot
*.pyc
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
local_settings.py
db.sqlite3

# Unit test / coverage reports
htmlcov/
.coverage
.cache
coverage.xml
.pytest_cache/
