{% extends 'main/base.html'%}


{% block title %}<title>Sign Up</title>{% endblock title %}


{% block content %}
<div class="card" style="width: 35rem; margin: auto;">
  <div class="card-body">
    {% if messages %}
    <ul class="alert alert-warning" role="alert">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

      <form method="POST" class="ui form" style="width: 80%; margin: auto;">
        {% csrf_token %}
        <h5 class="ui dividing header">Sign up</h5>  
        <div class="field">
          <label>Name</label>
          <div class="two fields">
            <div class="field">
              {{ form.first_name }}
            </div>
            <div class="field">
              {{ form.last_name }}
            </div>
          </div>
        </div>
        <div class="field">
          {{ form.username.label_tag }}
          {{ form.username }}
        </div>
        <div class="field">
          {{ form.phone_number.label_tag}}
          {{ form.phone_number }}
        </div>
        <div class="field">
          {{ form.email.label_tag }}
          {{ form.email }}
        </div>
        <div class="field">
          {{ form.password1.label_tag}}
          <div class="two fields">
            <div class="field">
              {{ form.password1 }}
            </div>
            <div class="field">
              {{ form.password2 }}
            </div>
          </div>
        </div>
        <button type="submit" class="ui primary button">Register</button>
        <p style="margin-top: 1.5em;">Already have an account? Login <a href="/login">here</h></p>
      </form>
  </div>
</div>
  
{% endblock %}