{% extends 'main/base.html'%}


{% block title %}Opprett bruker{% endblock title %}



{% block content %}
<div class="card" style="width: 35rem; margin: auto;">
  <div class="card-body">
    {% if messages %}
    <ul class="alert alert-warning" role="alert">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

      <form method="POST" class="ui form" style="width: 80%; margin: auto;">
        {% csrf_token %}
        <h5 class="ui dividing header">Opprett Toolio-konto</h5>  
        <div class="field">
          <label>Navn</label>
          <div class="two fields">
            <div class="field">
              <input type="text" name="first_name" placeholder="First Name">
            </div>
            <div class="field">
              <input type="text" name="last_name" placeholder="Last Name">
            </div>
          </div>
        </div>
        <div class="field">
          <label>Brukernavn</label>
          <input placeholder="Username" name="username" type="text">
        </div>
        <div class="field">
          <label>Telefon</label>
          <input placeholder="telefon" name="phone_number" type="text">
        </div>
        <div class="field">
          <label>Postnummer</label>
          <input placeholder="postnummer" name="postal_code" type="text">
        </div>
        <div class="field">
          <label>E-postadresse</label>
          <input placeholder="" name="email" type="text">
        </div>
        <div class="field">
          <label>Passord</label>
          <div class="two fields">
            <div class="field">
              <input type="text" name="password1" placeholder="">
            </div>
            <div class="field">
              <input type="text" name="password2" placeholder="">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success">Opprett bruker</button>
        <p style="margin-top: 1.5em;">Har du allerede en konto? Logg på <a href="/user/login">her.</h></p>
      </form>
  </div>
</div>
  
{% endblock %}