{% extends 'main/base.html' %}

{% block content %}

<h3 class="mx-5"><strong>Tilbud på markedet</h3>
{% if adList %}
    {% for ad in adList %}
        <div class="card my-2 mx-5 boy-card">
            <div class="card-header">
                {% if ad.isRequest == True%}
                    <h3>Ønskes leid: {{ad.title}}</h3>
                    <p>Ønskes til: {{ad.date}}</p>
                {% else %}
                    <h3>{{ad.title}}</h3>
                    <p>Ledig til: {{ad.date}}</p>
                {% endif %}
                <p>Pris: {{ad.price}}kr</p>
                <p>{{ad.description}}</p>
            </div>
        </div>
    {% endfor %}
{% else %}
<p>Det er ingen annonser tilstede nå</p>
{% endif %}


{% endblock %}