{% extends 'main/base.html' %}

{% block title %}Hjem{% endblock title%}

{% block content %}
{% if user.is_authenticated %}
<h1>Velkommen {{user.first_name}} {{user.last_name}}!</h1>
    <p><a href="{% url 'user:logout' %}" class="btn btn-danger">Logg ut</a></p>
{% endif %}
<center><h3 class="mx-5">Tilbud på markedet</h3>
<input type="text" class="w-25 form-control" style="ma" placeholder="Søk etter produkt" width="100" onkeyup="searchAndFilter(this.value, this.nextElementSibling.nextElementSibling.value)"> 
<label for="customRange3" class="form-label">Maks Pris:</label>
<input type="range" value="8500" min="0" max="findMaxPrice()" oninput="this.nextElementSibling.value = this.value ; searchAndFilter(this.previousElementSibling.previousElementSibling.value, this.value)" step="100">
<output>8500</output>
</center>
<br>
    {% if adList %}
        <div class="card-columns" style="width: 80%; margin: auto;">
            {% for ad in adList %}
                <div class="card">
                    {% if ad.isRequest == True %}
                        <div class="card-body">
                            <h5 class="card-title" id="ad-title">Ønskes leid: {{ ad.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Ønskes til: {{ ad.date }}</h6>
                            <p class="card-text card-price" >Budsjett: {{ ad.price }}kr</p>
                            {% if ad.user != user %} <!--Only shows the "lån bort" button on "ønskes leid" that the user doesnt own-->
                                <button class="ui primary button" onclick="openPopup(this)">Lån bort produkt</button>

                                <div class="popup">
                                    <h2>{{ ad.title }}</h2>
                                    <button type="button" onclick="closePopup(this)">⨉</button>
                                    <p>Annonsør: {{ ad.user.first_name }} {{ ad.user.last_name }}</p>
                                    <p>Telefon nummer: {{ ad.user.phone_number }}</p>
                                    <p>E-post: {{ ad.user.email }}</p>
                                </div>
                                <div class="overlay hidden"></div>

                            {% endif %}
                            {% if ad.user == user %} <!--Only shows the edit button on "annonse" that the user owns-->
                                <a href="{% url 'edit_ad' ad.id %}" class="ui orange button">Rediger</a>
                            {% endif %}
                        </div>
                    {% else %}
                        <img class="card-img-top" src="{{ ad.image.url }}" alt="{{ ad.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ ad.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Ledig til: {{ ad.date }}</h6>
                            <div class="card-text">
                                {% if ad.description|length > 150 %}
                                    <span class="card-text-truncated">{{ ad.description|truncatewords:30 }}</span>
                                    <span class="expand-text" style="color:blue; cursor:pointer;">mer</span>
                                    <span class="hidden-text" style="display:none;">{{ ad.description }}</span>
                                {% else %}
                                    {{ ad.description }}
                                {% endif %}
                            </div>
                            <p class="card-text card-price">Pris: {{ ad.price }}kr</p>
                            {% if ad.isRented == True %}
                                <button class="ui button bg-danger" disabled>UTLEID</button>
                            {% else %}
                                {% if ad.user != user %} <!--Only shows the "book produkt" button on "annonse" that the user doesnt own-->
                                    <button class="ui button default-button" onclick="openPopup(this)">Book produkt</button>

                                    <div class="popup">
                                        <h2>{{ ad.title }}</h2>
                                        <button type="button" onclick="closePopup(this)">⨉</button>
                                        <p>Annonsør: {{ ad.user.first_name }} {{ ad.user.last_name }}</p>
                                        <p>Telefon nummer: {{ ad.user.phone_number }}</p>
                                        <p>E-post: {{ ad.user.email }}</p>
                                    </div>
                                    <div class="overlay hidden"></div>

                                {% else %}
                                    <a href="{% url 'edit_ad' ad.id %}" class="ui orange button">Rediger</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <script>

                    function openPopup(element) {
                        element.nextElementSibling.classList.add("open-popup");
                        element.nextElementSibling.nextElementSibling.classList.remove("hidden");
                    }

                    function closePopup(element) {
                        element.parentElement.classList.remove("open-popup");
                        element.parentElement.nextElementSibling.classList.add("hidden");
                    }

                    
                    window.onclick = function (event) {
                        var overlay = document.getElementsByClassName("overlay");
                        var popup = document.getElementsByClassName("popup");
                        
                        if (event.target.classList[0] == 'overlay') {
                            Array.from(overlay).forEach((element) => {
                            element.classList.add("hidden");
                            });
                            Array.from(popup).forEach((element) => {
                            element.classList.remove("open-popup");
                            });
                        }
                    }
                </script>
            {% endfor %}
        </div>
    {% else %}
        <p>Det er ingen annonser tilstede nå</p>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".expand-text").click(function() {
                $(this).hide();
                $(this).siblings(".hidden-text").show();
                $(this).siblings(".card-text-truncated").hide();
            });
        });
    </script>

    <script>
        function searchAndFilter(search, max_price){
            var ads = document.getElementsByClassName("card"); //gets all ads
            for (var i = 0; i < ads.length; i++) { //iterates through every ad
                var price = parseInt(ads[i].getElementsByClassName("card-text card-price")[0].innerText.replace(/[^0-9]/g, "")); //gets the price
                var title = ads[i].getElementsByClassName("card-title")[0].innerHTML.toLowerCase(); //gets the title
                if ((price <= parseInt(max_price)) && (title.includes(search.toLowerCase()))){
                    ads[i].removeAttribute("hidden");
        } else {
            ads[i].hidden = true;
        }
        }
    }
    </script>   

    {% comment %} <script> FUNKER ALENE
        function priceFilter(value) {
            var ads = document.getElementsByClassName("card"); //gets all ads
        for (var i = 0; i < ads.length; i++) { //iterates through every ad
        var price = parseInt(ads[i].getElementsByClassName("card-text card-price")[0].innerText.replace(/[^0-9]/g, "")); //gets the price
        if (price <= parseInt(value)) { 
            ads[i].removeAttribute("hidden");
        } else {
            ads[i].hidden = true;
        }
    }   
}
    </script>  {% endcomment %}
    

    
    {% comment %} <script> FUNKER OGSÅ ALENE
        function searchFunc(value) {   
    let adTitles = document.getElementsByClassName("card-title");
    // We use titles as source so we can search through with them as keywords
    // Then in the loop we find the parent nodes so we can edit the whole "ad card"
    for (let i = 0; i < adTitles.length; i++) {
        //The whole div for the card is two parent elements up
        let parentCard = adTitles[i].parentElement.parentElement;
        if (adTitles[i].innerHTML.toLowerCase().includes(value.toLowerCase())) {
            parentCard.removeAttribute("hidden");
        } else {
            parentCard.hidden = "true";
        }
    } }
</script> {% endcomment %}

    
{% endblock %}
