{% extends 'main/base.html' %}

{% block title %}Hjem{% endblock title%}

{% block content %}
{% if user.is_authenticated %}
{% load custom_filters %}

<h1>Velkommen {{user.first_name}} {{user.last_name}}!</h1>
    <p><a href="{% url 'user:logout' %}" class="btn btn-danger">Logg ut</a></p>
{% endif %}
<center><h3 class="mx-5">Tilbud på markedet</h3>
<input type="text" class="w-25 form-control" style="ma" placeholder="Søk etter produkt" width="100" onkeyup="searchFunc(this.value)"> 
</center>
<br>
    {% if adList %}
        <div class="card-columns" style="width: 80%; margin: auto;">
            {% for ad in adList %}
                <div class="card">
                    {% if ad.isRequest == True %}
                        <div class="card-body">
                            <h5 class="card-title">Ønskes leid: {{ ad.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Ønskes til: {{ ad.date }}</h6>
                            <p class="card-text">Budsjett: {{ ad.price }}kr</p>

                            {% if user.is_authenticated%}
                                {% if user.pk != ad.user.pk%}
                                    <p class="card-text">Distanse: {{ ad_distance_dict|get_item:ad.pk}}km</p> 
                                {% endif %}
                               
                            {% endif %}

                            {% if ad.user != user %} <!--Only shows the "lån bort" button on "ønskes leid" that the user doesnt own-->
                                <button class="ui primary button" onclick="openPopup(this)">Lån bort produkt</button>

                                <div class="popup">
                                    <h2>{{ ad.title }}</h2>
                                    <button type="button" onclick="closePopup(this)">⨉</button>
                                    <p>Annonsør: {{ ad.user.first_name }} {{ ad.user.last_name }}</p>
                                    <p>Telefon nummer: {{ ad.user.phone_number }}</p>
                                    <p>E-post: {{ ad.user.email }}</p>
                                </div>
                                <div class="overlay hidden"></div>

                            {% endif %}
                            {% if ad.user == user %} <!--Only shows the edit button on "annonse" that the user owns-->
                                <a href="{% url 'edit_ad' ad.id %}" class="ui orange button">Rediger</a>
                            {% endif %}
                        </div>
                    {% else %}
                        <img class="card-img-top" src="{{ ad.image.url }}" alt="{{ ad.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ ad.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Ledig til: {{ ad.date }}</h6>
                            <div class="card-text">
                                {% if ad.description|length > 150 %}
                                    <span class="card-text-truncated">{{ ad.description|truncatewords:30 }}</span>
                                    <span class="expand-text" style="color:blue; cursor:pointer;">mer</span>
                                    <span class="hidden-text" style="display:none;">{{ ad.description }}</span>
                                {% else %}
                                    {{ ad.description }}
                                {% endif %}
                            </div>                            
                            <p class="card-text">Pris: {{ ad.price }}kr</p>
                            {% if user.is_authenticated%}
                                {% if user.pk != ad.user.pk%}
                                    <p class="card-text">Distanse: {{ ad_distance_dict|get_item:ad.pk}}km</p> 
                                {% endif %}
                               
                            {% endif %}
                            {% if ad.isRented == True %}
                                <button class="ui button bg-danger" disabled>UTLEID</button>
                            {% else %}
                                {% if ad.user != user %} <!--Only shows the "book produkt" button on "annonse" that the user doesnt own-->
                                    <button class="ui button default-button" onclick="openPopup(this)">Book produkt</button>

                                    <div class="popup">
                                        <h2>{{ ad.title }}</h2>
                                        <button type="button" onclick="closePopup(this)">⨉</button>
                                        <p>Annonsør: {{ ad.user.first_name }} {{ ad.user.last_name }}</p>
                                        <p>Telefon nummer: {{ ad.user.phone_number }}</p>
                                        <p>E-post: {{ ad.user.email }}</p>
                                    </div>
                                    <div class="overlay hidden"></div>

                                {% else %}
                                    <a href="{% url 'edit_ad' ad.id %}" class="ui orange button">Rediger</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <script>

                    function openPopup(element) {
                        element.nextElementSibling.classList.add("open-popup");
                        element.nextElementSibling.nextElementSibling.classList.remove("hidden");
                    }

                    function closePopup(element) {
                        element.parentElement.classList.remove("open-popup");
                        element.parentElement.nextElementSibling.classList.add("hidden");
                    }

                    
                    window.onclick = function (event) {
                        var overlay = document.getElementsByClassName("overlay");
                        var popup = document.getElementsByClassName("popup");
                        
                        if (event.target.classList[0] == 'overlay') {
                            Array.from(overlay).forEach((element) => {
                            element.classList.add("hidden");
                            });
                            Array.from(popup).forEach((element) => {
                            element.classList.remove("open-popup");
                            });
                        }
                    }
                </script>
            {% endfor %}
        </div>
    {% else %}
        <p>Det er ingen annonser tilstede nå</p>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".expand-text").click(function() {
                $(this).hide();
                $(this).siblings(".hidden-text").show();
                $(this).siblings(".card-text-truncated").hide();
            });
        });
    </script>
    <script>
        function searchFunc(value) {
            let adTitles = document.getElementsByClassName("card-title");
            // We use titles as source so we can search through with them as keywords
            // Then in the loop we find the parent nodes so we can edit the whole "ad card"
            for (let i = 0; i < adTitles.length; i++) {
                //The whole div for the card is two parent elements up
                let parentCard = adTitles[i].parentElement.parentElement;
                if (adTitles[i].innerHTML.toLowerCase().includes(value.toLowerCase())) {
                    parentCard.removeAttribute("hidden");
                } else {
                    parentCard.hidden = "true";
                }
            }
        }
    </script>
{% endblock %}
